[Desktop Entry]
Name=Untitled document
Type=Link
URL=https://docs.google.com/a/tamu.edu/document/d/1QZytToKydMxUEOn_Io2Lw_RRCNUYjauF7St8SbeTkZc/edit?usp=drivesdk
